/* ----------------Contact page Start----------------------- */
.main-section{
    height: 100%;
    background-image: url("images/contact3.jpg");
    background-size: cover;
    background-position: center;
  }
  .main-section h3{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 40px;
  }
  .col-md-4{
      color: white;
  }
  @media only screen and (min-width: 200px) and (max-width: 800px){
    .main-section{
        background-image: url("images/contact3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }
    .col-md-4{
        text-align: center;
    }
    .btn{
        text-align: center;
        margin: 0px auto;
        display: block;
        width: 200px;
    }
}
  /* -------------------Contact Page End-------------------------- */